<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Menu/BigTree.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 47}, {15, 43}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {15, 43}}</string>
			<key>sourceSize</key>
			<string>{15, 43}</string>
		</dict>
		<key>Menu/Cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{190, 47}, {13, 9}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 9}}</string>
			<key>sourceSize</key>
			<string>{13, 9}</string>
		</dict>
		<key>Menu/Kingdom_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 31}, {34, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 12}}</string>
			<key>sourceSize</key>
			<string>{34, 12}</string>
		</dict>
		<key>Menu/Kingdom_Press.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 64}, {34, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 12}}</string>
			<key>sourceSize</key>
			<string>{34, 12}</string>
		</dict>
		<key>Menu/QuestPressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{204, 59}, {34, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 12}}</string>
			<key>sourceSize</key>
			<string>{34, 12}</string>
		</dict>
		<key>Menu/Quest_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 78}, {34, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 12}}</string>
			<key>sourceSize</key>
			<string>{34, 12}</string>
		</dict>
		<key>Menu/SkyBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {142, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 80}}</string>
			<key>sourceSize</key>
			<string>{142, 80}</string>
		</dict>
		<key>Menu/Start_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 1}, {35, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 13}}</string>
			<key>sourceSize</key>
			<string>{35, 13}</string>
		</dict>
		<key>Menu/Start_Pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 16}, {35, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 13}}</string>
			<key>sourceSize</key>
			<string>{35, 13}</string>
		</dict>
		<key>Menu/Status_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{190, 58}, {34, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 12}}</string>
			<key>sourceSize</key>
			<string>{34, 12}</string>
		</dict>
		<key>Menu/Status_Pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 45}, {34, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 12}}</string>
			<key>sourceSize</key>
			<string>{34, 12}</string>
		</dict>
		<key>Menu/Trees.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 59}, {23, 9}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 9}}</string>
			<key>sourceSize</key>
			<string>{23, 9}</string>
		</dict>
		<key>Menu/castle.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 1}, {67, 44}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {67, 44}}</string>
			<key>sourceSize</key>
			<string>{69, 45}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>Menu.png</string>
	</dict>
</dict>
</plist>
