<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Logo/logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 62}, {116, 106}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 11}, {116, 106}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>Logo/logo_glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {128, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {128, 116}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>Logo/logo_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 1}, {118, 59}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {118, 59}}</string>
			<key>sourceSize</key>
			<string>{128, 64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>Logo.png</string>
	</dict>
</dict>
</plist>
