<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Logo/logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{259, 120}, {232, 211}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 22}, {232, 211}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>Logo/logo_glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {256, 235}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 10}, {256, 235}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>Logo/logo_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{259, 1}, {235, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 5}, {235, 117}}</string>
			<key>sourceSize</key>
			<string>{256, 128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Logo.png</string>
	</dict>
</dict>
</plist>
