<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Menu/BigTree.png</key>
		<dict>
			<key>frame</key>
			<string>{{1680, 1}, {123, 350}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {123, 350}}</string>
			<key>sourceSize</key>
			<string>{123, 350}</string>
		</dict>
		<key>Menu/Cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{1963, 315}, {108, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {108, 73}}</string>
			<key>sourceSize</key>
			<string>{108, 73}</string>
		</dict>
		<key>Menu/Kingdom_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1680, 346}, {272, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 96}}</string>
			<key>sourceSize</key>
			<string>{272, 96}</string>
		</dict>
		<key>Menu/Kingdom_Press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139, 448}, {272, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 96}}</string>
			<key>sourceSize</key>
			<string>{272, 96}</string>
		</dict>
		<key>Menu/QuestPressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1511, 350}, {272, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 96}}</string>
			<key>sourceSize</key>
			<string>{272, 96}</string>
		</dict>
		<key>Menu/Quest_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139, 546}, {272, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 96}}</string>
			<key>sourceSize</key>
			<string>{272, 96}</string>
		</dict>
		<key>Menu/SkyBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1136, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>sourceSize</key>
			<string>{1136, 640}</string>
		</dict>
		<key>Menu/Start_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1680, 126}, {281, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {281, 108}}</string>
			<key>sourceSize</key>
			<string>{281, 108}</string>
		</dict>
		<key>Menu/Start_Pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1680, 236}, {281, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {281, 108}}</string>
			<key>sourceSize</key>
			<string>{281, 108}</string>
		</dict>
		<key>Menu/Status_Normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1413, 350}, {272, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 96}}</string>
			<key>sourceSize</key>
			<string>{272, 96}</string>
		</dict>
		<key>Menu/Status_Pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139, 350}, {272, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 96}}</string>
			<key>sourceSize</key>
			<string>{272, 96}</string>
		</dict>
		<key>Menu/Trees.png</key>
		<dict>
			<key>frame</key>
			<string>{{1963, 126}, {187, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 74}}</string>
			<key>sourceSize</key>
			<string>{187, 74}</string>
		</dict>
		<key>Menu/castle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139, 1}, {539, 347}}</string>
			<key>offset</key>
			<string>{9, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 13}, {539, 347}}</string>
			<key>sourceSize</key>
			<string>{557, 360}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Menu.png</string>
	</dict>
</dict>
</plist>
